<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="left-side">
                        <a href="./index.html">
                            <img class="logo-img" src="assets/img/logo_og.png" alt="img" style="filter: none;">
                        </a>
                        <!-- <h6 class="fw-bold ms-3">
                         Navsari Agricultural University
                      </h6> -->
                    </div>
                    <div class="right-side">
                        <h6 class="fw-bold ms-3">
                            Navsari Agricultural University
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="img-relative">
        <img class="footer-shape" src="./img/footer-shape-body-bg.png" alt="">
    </div>
</header>