@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Dancing+Script:wght@400..700&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$box-shadow: 0px 8px 16px 0px rgba(76, 128, 178, 0.1);
$secondary-font: "Spline Sans", sans-serif;
$primary-font: "Public Sans", sans-serif;
$cursive-font: "Dancing Script", cursive;

$body-bg: #f8f7f0;
$primary-color: #008a4b;
$white: #ffffff;

.body {
    background-color: $body-bg !important;
}

.food-set {
    width: 100px;
    height: 112px;
    left: 5%;
    top: 40%;
    position: absolute;
}

.leaf-set {
    img {
        width: 70px;
        // height: 112px;
    }

    right: 10%;
    top: 8%;
    position: absolute;
}

.light-title {
    font-size: 100px;
    letter-spacing: 4.5px;
    margin-bottom: -40px;
    font-weight: 400;
    font-style: normal;
    font-family: $cursive-font;
    line-height: 120px;
    color: #ebebeb;
    // color: #f7f7f7;
}

.box-shadow {
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    -ms-box-shadow: $box-shadow;
    -o-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
}

.card-1 {
    box-shadow: $box-shadow;

}

.card {
    position: relative;
    box-shadow: $box-shadow;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: $white;
        z-index: -1;
        clip-path: polygon(6.726% 0%, 93.274% 0%, 93.274% 0%, 94.364% .14%, 95.399% .545%, 96.364% 1.192%, 97.245% 2.061%, 98.029% 3.129%, 98.701% 4.373%, 99.249% 5.772%, 99.657% 7.303%, 99.912% 8.945%, 100% 10.676%, 100% 61.278%, 100% 61.278%, 99.732% 65.983%, 98.988% 69.483%, 97.863% 71.995%, 96.447% 73.739%, 94.835% 74.934%, 93.119% 75.798%, 91.39% 76.552%, 89.742% 77.413%, 88.268% 78.601%, 87.061% 80.335%, 87.061% 80.335%, 86.147% 82.63%, 85.483% 85.137%, 84.946% 87.749%, 84.409% 90.359%, 83.749% 92.86%, 82.839% 95.146%, 81.556% 97.11%, 79.775% 98.644%, 77.369% 99.643%, 74.215% 100%, 6.726% 100%, 6.726% 100%, 5.637% 99.861%, 4.603% 99.457%, 3.638% 98.811%, 2.758% 97.944%, 1.974% 96.879%, 1.302% 95.638%, .754% 94.241%, .346% 92.712%, .09% 91.071%, 0% 89.342%, 0% 10.676%, 0% 10.676%, .088% 8.945%, .343% 7.303%, .751% 5.772%, 1.299% 4.373%, 1.971% 3.129%, 2.755% 2.061%, 3.636% 1.192%, 4.601% .545%, 5.636% .14%, 6.726% 0%)
    }
}

header {
    // box-shadow: $box-shadow;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 16px 0px;
    padding: 20px 0;
    background: $primary-color;

    .right-side {
        h6 {
            color: $white;
            font-size: 30px;
            letter-spacing: 2.5px;
            font-weight: 400;
            font-style: normal;
            font-family: $cursive-font;
        }
    }

    .left-side {
        img {
            width: 150px;
            filter: brightness(0) invert(1);
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $secondary-font;
}

.detail-box {
    h6 {
        font-family: $primary-font !important;
    }
}


body {
    font-family: $primary-font !important;
}



.blog-img {
    img {
        width: 100%;
    }
}

.border-box {

    .wrap-box {
        text-align: left;
    }

    img {
        display: block;
        width: 34px;
        margin-bottom: 15px;
    }
}


footer {
    background: $primary-color;
    padding: 12px 0;
    position: fixed;
    bottom: 0;
    width: 100%;

    span {
        color: $white;
    }
}


.tab-page, .detail-contents {
    background-image: url('../img/footer-bg-img.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    background-attachment: scroll;
}


.footer-shape {
    width: 100%;
    margin-top: -34px;

    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

.agri-tab .tab-content {

    a {
        text-align: left;
    }

    span {
        position: relative;
        text-align: left;

        &:before {
            content: '';
            height: 3px;
            width: 65px;
            background: $primary-color;
            position: absolute;
            bottom: -15px;
            left: 0;
        }
    }

}