<section class="py-5 overflow-hidden tab-page">
    <div class="container-fluid mb-5 pb-5">
        <div class="row">
            <div class="col-sm-12 agri-tab">
                <div class="d-flex align-items-start">
                    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist"
                        aria-orientation="vertical">
                        <div class="d-flex justify-content-between">
                            <a id="home-link" class="nav-link text-white wow fadeInUp"
                                style="background-color: black; width: 40%;">Home</a>
                            <a id="back-link" class="nav-link text-white wow fadeInUp"
                                style="background-color: black; width: 40%;">Back</a>
                        </div>
                        <a class="nav-link active wow fadeInUp" data-wow-offset="50" id="v-pills-home-tab"
                            data-tabid="v-pills-home" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button"
                            role="tab" aria-controls="v-pills-home" aria-selected="true">Agricultural heritage</a>
                        <a class="nav-link wow fadeInUp" data-wow-offset="50" id="v-pills-profile-tab"
                            data-tabid="v-pills-profile" data-bs-toggle="pill" data-bs-target="#v-pills-profile"
                            type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Major
                            historical
                            events in Indian agriculture</a>
                        <a class="nav-link wow fadeInUp" data-wow-offset="50" id="v-pills-messages-tab"
                            data-tabid="v-pills-messages" data-bs-toggle="pill" data-bs-target="#v-pills-messages"
                            type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Stages of
                            development of civilization and agriculture</a>
                        <a class="nav-link wow fadeInUp" data-wow-offset="50" id="v-pills-settings-tab"
                            data-tabid="v-pills-settings" data-bs-toggle="pill" data-bs-target="#v-pills-settings"
                            type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Indus Valley
                            Civilization</a>

                        <a class="nav-link wow fadeInUp" data-wow-offset="50" id="v-pills-tabs" data-tabid="v-pills-5"
                            data-bs-toggle="pill" data-bs-target="#v-pills-5" type="button" role="tab"
                            aria-controls="v-pills-5" aria-selected="false">Panchang</a>

                        <a class="nav-link wow fadeInUp" data-wow-offset="50" id="v-pills-6-tab" data-tabid="v-pills-6"
                            data-bs-toggle="pill" data-bs-target="#v-pills-6" type="button" role="tab"
                            aria-controls="v-pills-6" aria-selected="false">Development of scientific agriculture in
                            India</a>

                        <a class="nav-link wow fadeInUp" data-wow-offset="50" id="v-pills-7-tab" data-tabid="v-pills-7"
                            data-bs-toggle="pill" data-bs-target="#v-pills-7" type="button" role="tab"
                            aria-controls="v-pills-7" aria-selected="false">National institutes of agricultural
                            research</a>

                        <a class="nav-link wow fadeInUp" data-wow-offset="50" id="v-pills-8-tab" data-tabid="v-pills-8"
                            data-bs-toggle="pill" data-bs-target="#v-pills-8" type="button" role="tab"
                            aria-controls="v-pills-8" aria-selected="false">International institutes of agricultural
                            research </a>

                    </div>
                    <div class="tab-content w-100 ms-3" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                            aria-labelledby="v-pills-home-tab">

                            <section class="overflow-hidden detail-contents position-relative">
                                <div class="leaf-set">
                                    <img class="img" src="assets/img/Leaf-5-1.png" alt="img">
                                </div>
                                <div class="food-set">
                                    <img class="img" src="assets/img/zucchini-2.png" alt="img">
                                </div>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-12 text-center">
                                            <div class="title-style">
                                                <div class="light-title">Details</div>
                                                <h3 class="text-capitalize">Agricultural details</h3>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <p>
                                                Micro-propagation is the practice of rapidly multiplying stock plant
                                                material to
                                                produce a large
                                                number of progeny plants, using modern plant tissue culture methods.
                                            </p>

                                            <p>Micro propagation</p>

                                            <p class="fw-bold text-dark">
                                                Tissue Culture Techniques for Micro propagation:
                                            </p>

                                            <ul>
                                                <li>Shoot tip culture</li>
                                                <li>Node culture</li>
                                                <li>Somatic embryogenic</li>
                                                <li>Organogenesis</li>
                                            </ul>

                                            <p class="fw-bold mt-3 d-block text-dark">
                                                Advantages of Micro propagation:
                                            </p>

                                            <ul>
                                                <li>Large number of plants can be produced in a small space and time.
                                                </li>
                                                <li> Only small amount of tissue is needed </li>
                                                <li> It helps in bulking up of rapidly new cultivars </li>
                                                <li> International exchange of material possible </li>
                                                <li> Year round multiplication of plant is possible </li>
                                                <li> Production of disease free plant </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mt-5">
                                            <div class="img-set">
                                                <img class="w-100" src="assets/img/about.png" alt="img">
                                            </div>
                                        </div>
                                        <div class="col-md-6 mt-5 d-flex align-items-center">
                                            <div class="wrap-box ps-5">
                                                <p>
                                                    Micro-propagation is the practice of rapidly multiplying stock plant
                                                    material
                                                    to produce a large
                                                    number of progeny plants, using modern plant tissue culture methods.
                                                </p>

                                                <p>Micro propagation</p>

                                                <p class="fw-bold text-dark">
                                                    Tissue Culture Techniques for Micro propagation:
                                                </p>

                                                <ul>
                                                    <li>Shoot tip culture</li>
                                                    <li>Node culture</li>
                                                    <li>Somatic embryogenic</li>
                                                    <li>Organogenesis</li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </section>

                        </div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                            aria-labelledby="v-pills-profile-tab">...2</div>
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                            aria-labelledby="v-pills-messages-tab">..3.</div>
                        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                            aria-labelledby="v-pills-settings-tab">...</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>