<section class="overflow-hidden">
    <img class="img-fluid w-100" src="assets/img/agri-marketing.png" alt="img">
</section>
<section class="container py-5 mb-5 overflow-hidden position-relative">
    <div class="leaf-set">
        <img class="img" src="assets/img/Leaf-5-1.png" alt="img">
    </div>
    <div class="food-set">
        <!-- <img class="img" src="assets/img/zucchini-2.png" alt="img"> -->
    </div>
    <div class="container-fluid mb-5">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="title-style">
                    <div class="light-title">Agricultural</div>
                    <h3 class="text-capitalize">Weather Navsari</h3>
                </div>
                <div class="position-absolute rounded"
                    style="right: 0; margin-top: -53px; background: antiquewhite; padding: 5px;">
                    <a href="https://nau.in/index" target="_blank" rel="noopener noreferrer" style="cursor: pointer; color: #008a4b;
    font-size: 20px;">
                        NAU Website
                    </a>
                </div>
            </div>
            <div class="container mt-3">
                <div class="row container">
                    <div class="col-md-6 col-sm-6">
                        <div class="title-cls">
                            Latitude
                        </div>
                        <div class="title-cls">
                            Longitude
                        </div>
                        <div class="title-cls">
                            Altitude
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="val-cls">
                            {{weatherData?.latitude}}
                        </div>
                        <div class="val-cls">
                            {{weatherData?.longitude}}
                        </div>
                        <div class="val-cls">
                            {{weatherData?.altitude}}
                        </div>
                    </div>
                    <!-- <hr> -->
                    <div class="title-style mt-3 mb-3 text-center">
                        <h3 class="text-capitalize" style="font-size: 1.3rem; color: #008a4b">Today's Weather </h3>
                    </div>
                    <div class="col-md-6">
                        <div class="title-cls">
                            Maximum temperature (℃)
                        </div>
                        <div class="title-cls">
                            Minimum temperature (℃)
                        </div>
                        <div class="title-cls">
                            Relative Humidity Morning (%)
                        </div>
                        <div class="title-cls">
                            Relative Humidity Afternoon (%)
                        </div>
                        <div class="title-cls">
                            Wind Speed (km/hr.)
                        </div>
                        <div class="title-cls">
                            Bright Sunshine Hours (Previous Day)
                        </div>
                        <div class="title-cls">
                            Evaporation (mm/day)
                        </div>
                        <div class="title-cls">
                            Rain Fall (mm)
                        </div>
                        <div class="title-cls">
                            Rainy Day's
                        </div>
                        <div class="title-cls">
                            Cumulative Rain (mm)
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="val-cls">
                            {{weatherData?.maxTemperature}}
                        </div>
                        <div class="val-cls">
                            {{weatherData?.minTemperature}}
                        </div>
                        <div class="val-cls">
                            {{weatherData?.relHumidityMorning}}
                        </div>
                        <div class="val-cls">
                            {{weatherData?.relHumidityAfternoon}}
                        </div>
                        <div class="val-cls">
                            {{weatherData?.windSpeed}}
                        </div>
                        <div class="val-cls">
                            {{weatherData?.brightSunshineHours}}
                        </div>
                        <div class="val-cls">
                            {{weatherData?.evaporation}}
                        </div>
                        <div class="val-cls">
                            {{weatherData?.rainFall}}
                        </div>
                        <div class="val-cls">
                            {{weatherData?.rainyDays}}
                        </div>
                        <div class="val-cls">
                            {{weatherData?.cumulativeRain}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>