.title-cls {
    font-size: 18px;
    margin: 10px;
    font-weight: 600;
}

.val-cls{
    font-size: 18px;
    margin: 10px;
    font-weight: 600;
    color: #1b89e4;
    display: flex;
    justify-content: end;
}