<section class="py-5 overflow-hidden tab-page">
    <div class="container container-fluid mb-5 pb-5">
        <div class="row">


            <div class="col-sm-12 text-center" *ngIf="!isDetailView">
                <div class="title-style">
                    <div class="light-title">Agricultural</div>
                    <h3 class="text-capitalize">KIOSK Agricultural details</h3>
                </div>
            </div>


            <div class="col-sm-12 agri-tab">
                <div class="d-flex align-items-start">
                    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist"
                        aria-orientation="vertical">
                        <a id="home-link" [routerLink]="['/home']" class="nav-link text-white wow fadeInUp"
                            style="background-color: black; width: fit-content !important; cursor: pointer;">Home</a>
                        <div *ngFor="let item of parentData; let i = index;">
                            <a [ngClass]="{'active': selectedCategory == i}" class="nav-link wow fadeInUp"
                                data-wow-offset="50" (click)="tabChange(i)" id="v-pills-home-tab"
                                data-tabid="v-pills-home" data-bs-toggle="pill" data-bs-target="#v-pills-home"
                                type="button" role="tab" aria-controls="v-pills-home"
                                aria-selected="true">{{item?.title}}</a>
                        </div>
                    </div>
                    <div class="tab-content w-100 ms-3" id="v-pills-tabContent" *ngIf="!isDetailView">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                            aria-labelledby="v-pills-home-tab">
                            <div class="row wow fadeInDown" data-wow-offset="200">
                                <div *ngFor="let item of childData; let i = index;" class="col-md-4 col-sm-12 mb-5">
                                    <div class="border-box py-4 px-3" (click)="onChildSelect(i)">
                                        <div class="wrap-box">
                                            <img src="./img/icon-1.png" alt="">
                                            <a>
                                                <span class="text-capitalize text-dark">
                                                    {{item?.title}}
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-content w-100 ms-3" id="v-pills-tabContent" *ngIf="isDetailView">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                            aria-labelledby="v-pills-home-tab">

                            <section class="overflow-hidden detail-contents position-relative">
                                <div class="leaf-set">
                                    <img class="img" src="assets/img/Leaf-5-1.png" alt="img">
                                </div>
                                <div class="food-set">
                                    <img class="img" src="assets/img/zucchini-2.png" alt="img">
                                </div>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-12 text-center">
                                            <div class="title-style">
                                                <div class="light-title">Details</div>
                                                <h3 class="text-capitalize">Agricultural details</h3>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <p>
                                                {{detailDecs}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </section>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>